.container {
  text-align: center;
  /* color: #61dafb; */
  padding-top: 40px;
  padding-bottom: 40px;
}

.contact-list {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
}

.contact-list li {
  text-align: right;
}

.contact-list li p {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.contact-text span {
  padding: 0 10px;
  color: black;
}
