.contact_list {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
}

.contact_item {
  background-color: #fff;
  opacity: 0.9;
  list-style: none;
  display: flex;
  align-items: center;
  text-align: right;

  justify-content: space-between;
  max-width: 500px;
  padding: 0 5px;
  // border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 5px;
}

.contact_item:hover {
  background-color: lightblue;
}

.contact_text {
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  height: 50px;
  color: #212121;
  padding-left: 30px;
}

.button_group {
  width: 150px;
}

@media (max-width: 499px) {
  .contact_item {
    width: 300px;
    height: auto;
    padding: 0;
  }

  .contact_text {
    width: 200px;
    // flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .button_group {
    width: 100px;
  }
}
