.contact_list {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
}

.contact_item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: calc(100% / 3 - 40px);
  border: 2px solid #7cc6fe;
  border-radius: 5px;
  background-color: #fff;
  margin: 10px 20px;
}

.contact_item:nth-child(3n) {
  margin-right: 0px;
}

.contact_text {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  height: 50px;
  color: #212121;
  padding-left: 20px;
}

.no_contacts {
  color: white;
}

@media (max-width: 767px) {
  .contact_list {
    flex-direction: column;
  }

  .contact_item {
    width: 300px;
    height: auto;
    padding: 0;
    margin-bottom: 2px;

    margin: 10px auto;
  }

  .contact_item:nth-child(3n) {
    margin-left: auto;
    margin-right: auto;
  }

  .contact_text {
    width: 200px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
